/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 5:06:42 PM
    Author     : sakit
*/

.button:hover{    
    -fx-effect:dropshadow(three-pass-box, #f5a20f,10.0,0.90,0.0,0.0);
}

.button{
    -fx-background-color: transparent;
}
